.headerContainer {
    width: 100%;  
    background-color: var(--fondo1);
    z-index: 10;
    position: fixed;
    left: 0;
    right: 0;
}
.header {
    display: flex;
    flex-direction: row;     
    align-items: center;
    margin: auto;
    width: 1180px;           
    height: 100px;
}
.logoh1 {
    font-size: 60px;
    width: 196px;
    text-align: center;
}
.navbar {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 50px;
    width: 100%;
    position: relative;
}
.navbar p {
    letter-spacing: 4px;
}
.progressLine {
    position: absolute;
    bottom: -40px;
    left: -20px;
    right: -20px;
}
.progressLineDown {
    width: 100%;
    height: 3px;
    background-color: var(--offwhite);
}
.progressLineUp {
    height: 3px;
    background-color: var(--object);
    position: absolute;
}